[submodule "themes/whisper"]
	path = themes/whisper
	url = https://github.com/zerostaticthemes/hugo-whisper-theme.git
[submodule "themes/geekdocs"]
	path = themes/geekdocs
	url = https://github.com/thegeeklab/hugo-geekdoc.git
